.jdd-Input {
  display: 'inline-block';
  .input-warpper {
    input {
      border: 0;
      outline: 0;
    }

    .clearBtnIcon {
      width: 20px;
      opacity: 0.3;
      vertical-align: middle;
    }
  }
}
