@prefixCls: jdd-button;
@hd: 1px;

.@{prefixCls} {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  font-size: var(--jdd-font-size-main);
  text-align: center;
  border-radius: var(--jdd-radius-xs);
  cursor: pointer;
  transition: opacity 0.2s;
  -webkit-appearance: none;
  color: var(--jdd-color-text-base-inverse);
  overflow: hidden;
  border-width: var(--jdd-border-width-sm);
  border-style: solid;

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &-text {
    padding: 4 * @hd;
  }

  /* 默认按钮 */
  &--default {
    color: var(--jdd-color-text-base);
    background-color: var(--jdd-fill-base);
    border-color: var(--jdd-border-color-base);

    &.@{prefixCls}--loading .@{prefixCls}-loading-style span {
      background-color: var(--jdd-color-text-base);
    }
  }

  /* 主要按钮 */
  &--primary {
    background-color: var(--jdd-brand-primary);
    border-color: var(--jdd-brand-primary);

    &.@{prefixCls}--plain {
      color: var(--jdd-brand-primary);

      .@{prefixCls}-loading-style span {
        background-color: var(--jdd-brand-primary);
      }
    }
  }

  /* 危险按钮 */
  &--danger {
    background-color: var(--jdd-brand-error);
    border-color: var(--jdd-brand-error);

    &.@{prefixCls}--plain {
      color: var(--jdd-brand-error);

      .@{prefixCls}-loading-style span {
        background-color: var(--jdd-brand-error);
      }
    }
  }

  /* 警示按钮 */
  &--warning {
    background-color: var(--jdd-brand-warning);
    border-color: var(--jdd-brand-warning);

    &.@{prefixCls}--plain {
      color: var(--jdd-brand-warning);

      .@{prefixCls}-loading-style span {
        background-color: var(--jdd-brand-warning);
      }
    }
  }

  /* 成功按钮 */
  &--success {
    background-color: var(--jdd-brand-success);
    border-color: var(--jdd-brand-success);

    &.@{prefixCls}--plain {
      color: var(--jdd-brand-success);

      .@{prefixCls}-loading-style span {
        background-color: var(--jdd-brand-success);
      }
    }
  }

  /* 正常大小 */
  &--normal {
    height: var(--jdd-button-height-sm);
    font-size: var(--jdd-button-font-size-sm);
    padding: 6 * @hd 10 * @hd;
  }

  /* 大号按钮 */
  &--large {
    width: 100%;
    height: var(--jdd-button-height);
    font-size: var(--jdd-button-font-size);
    padding: 10 * @hd 18 * @hd;

    .@{prefixCls}-loading-style {
      transform: scale(1.3);
    }
  }

  /* 小号按钮 */
  &--small {
    height: 26 * @hd;
    font-size: 12 * @hd;

    .@{prefixCls}-content {
      transform: scale(0.93);
    }

    .@{prefixCls}-loading-style {
      transform: scale(0.83);
    }
  }

  /* 迷你按钮 */
  &--mini {
    height: 22 * @hd;
    font-size: 12 * @hd;

    .@{prefixCls}-content {
      transform: scale(0.8);
    }

    .@{prefixCls}-loading-style {
      transform: scale(0.71);
    }
  }

  /* 块级 */
  &--block {
    width: 100%;
  }

  /* 朴素按钮 */
  &--plain {
    background-color: var(--jdd-fill-base);
  }

  /* 禁用按钮 */
  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  /* 加载状态 */
  &--loading {
    .jdd-button-loading-style {
      position: relative;
      display: inline-block;

      span {
        background-color: var(--jdd-fill-base);
      }
    }

    /* 转圈图标 */
    .@{prefixCls}-loading-circle {
      width: 20 * @hd;
      height: 20 * @hd;

      span {
        width: 3 * @hd;
        height: 3 * @hd;
        position: absolute;
        border-radius: 50%;
        animation: circleLoad 1.04s ease infinite;
      }

      span:nth-child(1) {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        animation-delay: 0.13s;
      }
      span:nth-child(2) {
        left: 9%;
        top: 9%;
        animation-delay: 0.26s;
      }
      span:nth-child(3) {
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        animation-delay: 0.39s;
      }
      span:nth-child(4) {
        top: 9%;
        right: 9%;
        animation-delay: 0.52s;
      }
      span:nth-child(5) {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        animation-delay: 0.65s;
      }
      span:nth-child(6) {
        right: 10%;
        bottom: 10%;
        animation-delay: 0.78s;
      }
      span:nth-child(7) {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        animation-delay: 0.91s;
      }
      span:nth-child(8) {
        bottom: 10%;
        left: 10%;
        animation-delay: 1.04s;
      }
    }

    /* 交替变大圆圈 */
    .@{prefixCls}-loading-turn {
      width: 22 * @hd;
      height: 22 * @hd;

      span {
        width: 22 * @hd;
        height: 22 * @hd;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.5;
        border-radius: 50%;
        animation: turnLoading 1.4s infinite ease-in;
      }
      span:nth-child(2) {
        animation-delay: -0.7s;
      }
    }

    /* 横线动画 */
    .@{prefixCls}-loading-line {
      width: auto;
      height: 3 * @hd;

      span {
        width: 3 * @hd;
        height: 3 * @hd;
        margin-right: 2 * @hd;
        float: left;
        border-radius: 50%;
        animation: lineLoad 1s ease infinite;
      }
      span:nth-child(1) {
        animation-delay: 0.12s;
      }
      span:nth-child(2) {
        animation-delay: 0.24s;
      }
      span:nth-child(3) {
        animation-delay: 0.36s;
      }
      span:nth-child(4) {
        animation-delay: 0.48s;
      }
    }
  }

  /* icon -- 待添加 */
  &-icon-style::before {
    font-family: 'QuarkIcon';
  }

  &-icon-search::before {
    content: '\e536';
  }
  &-icon-edit::before {
    content: '\eb7a';
  }
}

@keyframes turnLoading {
  0%,
  100% {
    transform: scale(0);
  }
  30% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.8);
  }
}

@keyframes circleLoad {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes lineLoad {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
