.jdd-tabs {
  font-size: 14px;
  overflow: hidden;

  &-nav {
    display: flex;
    flex: none;
    position: relative;

    &-list {
      width: 100%;
      display: flex;
      position: relative;
      transition: transform 0.3s;
    }
  }

  &-tab {
    border: 0;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.5);
    margin: 0;
    display: flex;
    outline: none;
    cursor: pointer;
    position: relative;
    font-weight: normal;
    align-items: center;
    flex: 1;
    justify-content: center;
    text-align: center;

    &-btn {
      position: relative;
      border: 0;
      background: transparent;
      font-weight: inherit;
      line-height: 32px;
    }

    &--active {
      position: relative;
      font-weight: bolder;

      .jdd-tabs-tab-btn::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2px;
        background: red;
      }
    }
    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  /*
  &-tab-active {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 2px;
    background: red;
    pointer-events: none;
    transition: all 0.3s;
  }
  */
}
