:root {
  --jdd-color-primary: #1677ff;
  --jdd-color-success: #00b578;
  --jdd-color-warning: #ff8f1f;
  --jdd-color-danger: #ff3141;
  --jdd-color-white: #ffffff;
  --jdd-color-weak: #999999;
  --jdd-color-light: #cccccc;
  --jdd-border-color: #eeeeee;
  --jdd-font-size-main: 13px;
  --jdd-color-text: #333333;

  --jdd-font-family: -apple-system, blinkmacsystemfont, 'Helvetica Neue',
    helvetica, segoe ui, arial, roboto, 'PingFang SC', 'miui',
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;

  --jdd-z-index-mask: 1000;
  --jdd-z-index-popup: 1000;
  --jdd-z-index-popover: 1030;
  --jdd-z-index-floating-panel: 900;
}
