@import './var.less';

:root {
  // 全局/品牌色
  --jdd-brand-primary: @brand-primary;
  --jdd-brand-primary-tap: @brand-primary-tap;
  --jdd-brand-success: @brand-success;
  --jdd-brand-warning: @brand-warning;
  --jdd-brand-error: @brand-error;
  --jdd-brand-important: @brand-important;
  --jdd-brand-wait: @brand-wait;
  --jdd-color-text-base: @color-text-base;
  --jdd-color-text-base-inverse: @color-text-base-inverse;
  --jdd-color-text-secondary: @color-text-secondary;
  --jdd-color-text-placeholder: @color-text-placeholder;
  --jdd-color-text-disabled: @color-text-disabled;
  --jdd-color-text-caption: @color-text-caption;
  --jdd-color-text-paragraph: @color-text-paragraph;
  --jdd-color-link: @color-link;

  // 背景色
  // ---
  --jdd-fill-base: @fill-base;
  --jdd-fill-body: @fill-body;
  --jdd-fill-tap: @fill-tap;
  --jdd-fill-disabled: @fill-disabled;
  --jdd-fill-mask: @fill-mask;
  --jdd-color-icon-base: @color-icon-base;
  --jdd-fill-grey: @fill-grey;

  // 透明度
  --jdd-opacity-disabled: @opacity-disabled;

  // 边框色
  --jdd-border-color-base: @border-color-base;

  // 字体尺寸
  // ---
  --jdd-font-size-xs: @font-size-xs;
  --jdd-font-size-sm: @font-size-sm;
  --jdd-font-size-md: @font-size-md;
  --jdd-font-size-subhead: @font-size-subhead;
  --jdd-font-size-lg: @font-size-lg;
  --jdd-font-weight-bold: @font-weight-bold;
  --jdd-line-height-xs: @line-height-xs;
  --jdd-line-height-sm: @line-height-sm;
  --jdd-line-height-md: @line-height-md;
  --jdd-line-height-lg: @line-height-lg;
  --jdd-font-family: @font-family;

  // 圆角
  // ---
  --jdd-radius-xs: @radius-xs;
  --jdd-radius-sm: @radius-sm;
  --jdd-radius-md: @radius-md;
  --jdd-radius-lg: @radius-lg;
  --jdd-radius-circle: @radius-circle;

  // 边框尺寸
  // ---
  --jdd-border-width-sm: @border-width-sm;
  --jdd-border-width-md: @border-width-md;
  --jdd-border-width-lg: @border-width-lg;

  // 间距
  // ---
  // 水平间距
  --jdd-h-spacing-sm: @h-spacing-sm;
  --jdd-h-spacing-md: @h-spacing-md;
  --jdd-h-spacing-lg: @h-spacing-lg;

  // 垂直间距
  --jdd-v-spacing-xs: @v-spacing-xs;
  --jdd-v-spacing-sm: @v-spacing-sm;
  --jdd-v-spacing-md: @v-spacing-md;
  --jdd-v-spacing-lg: @v-spacing-lg;
  --jdd-v-spacing-xl: @v-spacing-xl;

  // 高度
  // ---
  --jdd-line-height-base: @line-height-base;
  --jdd-line-height-paragraph: @line-height-paragraph;

  // 图标尺寸
  // ---
  --jdd-icon-size-xxs: @icon-size-xxs;
  --jdd-icon-size-xs: @icon-size-xs;
  --jdd-icon-size-sm: @icon-size-sm;
  --jdd-icon-size-md: @icon-size-md;
  --jdd-icon-size-lg: @icon-size-lg;

  // 动画缓动
  // ---
  --jdd-ease-in-out-quint: @ease-in-out-quint;

  // 组件变量
  // ---

  --jdd-actionsheet-item-height: @actionsheet-item-height;
  --jdd-actionsheet-item-font-size: @actionsheet-item-font-size;

  // button
  --jdd-button-height: @button-height;
  --jdd-button-font-size: @button-font-size;
  --jdd-button-radius: @button-radius;

  --jdd-button-height-md: @button-height-md;
  --jdd-button-font-size-md: @button-font-size-md;
  --jdd-button-radius-md: @button-radius-md;

  --jdd-button-height-sm: @button-height-sm;
  --jdd-button-font-size-sm: @button-font-size-sm;
  --jdd-button-radius-sm: @button-radius-sm;

  --jdd-primary-button-fill: @primary-button-fill;
  --jdd-primary-button-fill-tap: @primary-button-fill-tap;

  --jdd-ghost-button-color: @ghost-button-color; // 同时应用于背景、文字颜色、边框色
  --jdd-ghost-button-fill-tap: @ghost-button-fill-tap;

  --jdd-warning-button-fill: @warning-button-fill;
  --jdd-warning-button-fill-tap: @warning-button-fill-tap;

  --jdd-link-button-fill-tap: @link-button-fill-tap;
  --jdd-link-button-font-size: @link-button-font-size;

  // menu
  --jdd-menu-multi-select-btns-height: @menu-multi-select-btns-height;

  // modal
  --jdd-modal-font-size-heading: @modal-font-size-heading;
  --jdd-modal-button-font-size: @modal-button-font-size;
  --jdd-modal-button-height: @modal-button-height;

  // list
  --jdd-list-title-height: @list-title-height;
  --jdd-list-item-height-sm: @list-item-height-sm;
  --jdd-list-item-height: @list-item-height;

  // input
  --jdd-input-label-width: @input-label-width;
  --jdd-input-font-size: @input-font-size;
  --jdd-input-color-icon: @input-color-icon;
  --jdd-input-color-icon-tap: @input-color-icon-tap;

  // tabs
  --jdd-tabs-color: @tabs-color;
  --jdd-tabs-height: @tabs-height;
  --jdd-tabs-font-size-heading: @tabs-font-size-heading;
  --jdd-tabs-ink-bar-height: @tabs-ink-bar-height;

  // segmented-control
  --jdd-segmented-control-color: @segmented-control-color; // 同时应用于背景、文字颜色、边框色
  --jdd-segmented-control-height: @segmented-control-height;
  --jdd-segmented-control-fill-tap: @segmented-control-fill-tap;

  // tab-bar
  --jdd-tab-bar-fill: @tab-bar-fill;
  --jdd-tab-bar-height: @tab-bar-height;

  // toast
  --jdd-toast-fill: @toast-fill; // toast, activity-indicator 的背景颜色

  // search-bar
  --jdd-search-bar-fill: @search-bar-fill;
  --jdd-search-bar-height: @search-bar-height;
  --jdd-search-bar-input-height: @search-bar-input-height;
  --jdd-search-bar-font-size: @search-bar-font-size;
  --jdd-search-color-icon: @search-color-icon;

  // notice-bar
  --jdd-notice-bar-fill: @notice-bar-fill;
  --jdd-notice-bar-height: @notice-bar-height;
  --jdd-notice-bar-color: @notice-bar-color;

  // switch
  --jdd-switch-fill: @switch-fill;
  --jdd-switch-fill-android: @switch-fill-android;

  // tag
  --jdd-tag-height: @tag-height;
  --jdd-tag-height-sm: @tag-height-sm;
  --jdd-tag-color: @tag-color;

  // keyboard
  --jdd-keyboard-confirm-color: @keyboard-confirm-color;
  --jdd-keyboard-confirm-tap-color: @keyboard-confirm-tap-color;

  // picker
  --jdd-option-height: @option-height;

  // z-index
  --jdd-progress-zindex: @progress-zindex;
  --jdd-popover-zindex: @popover-zindex;
  --jdd-toast-zindex: @toast-zindex;
  --jdd-action-sheet-zindex: @action-sheet-zindex;
  --jdd-picker-zindex: @picker-zindex;
  --jdd-popup-zindex: @popup-zindex;
  --jdd-modal-zindex: @modal-zindex;
  --jdd-tabs-pagination-zindex: @tabs-pagination-zindex;
}
