.jdd-header {
  width: 100%;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: #fff;
  .jdd-content {
    display: inline-block;
    margin: 0 auto;
  }
  .jdd-leftSlot {
    position: absolute;
    top: 10px;
    left: 4px;
    font-size: 14px;
    cursor: pointer;
    -webkit-box-align: center;
    .jdd-goback-img {
      height: 30px;
      width: 24px;
    }
    .jdd-close-img {
      margin-left: 29px;
      height: 14px;
      width: 14px;
    }
  }
  .jdd-rightSlot {
    position: absolute;
    top: 10px;
    right: 4px;
    .jdd-search-img {
      height: 30px;
      width: 24px;
    }
  }
}
